.recipe-container{
    color: black;
}
.back-button{
    color: black;
}
.navigation-buttons{
    display: flex;
    gap: 15px;
    height: 50px;
    text-align: center;
    background-color: darkslategray;
}

.recipe-header{
    text-align:center;
    background-color: lightblue;
}

.nav-button{
    text-align: center;
    color: white;
}